html,body { 
    font-family: 'Montserrat', sans-serif;
    background: url(https://unsplash.com/photos/WecngmAT-KY/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MjZ8fGxhcHRvcHxlbnwwfHx8fDE2NjE5NjE2OTA&force=true) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .container{
   text-align: center;
   justify-content: center;
   height: 100vh;
  }
  hr{
    border-color:rgb(241, 50, 241);
    border-width: 3px;
    max-width: 65px;
    margin: auto;
    margin-bottom: 10px;

  }
  h1{
    color: white;
    text-align: center;
    box-shadow: 3px 5px 2px;
  }
  .btn-size{
    padding: 1rem 2rem;
  }
  .btn-primary{
    background-color: rgb(241, 50, 241);
  }
  .btn{
    border: 1px solid rgb(241, 50, 241);
    border-radius: 50px;
  }

  .btn:hover,.btn:active{
    border: 4px solid rgb(73, 2, 73);
    background-color: rgb(73, 2, 73) ;
  }